sudo: required
language: node
services:
  - docker
env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
before_install:
  - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file service-account.json
  - gcloud config set project k8s-demo-309903
  - gcloud config set compute/region northamerica-northeast1
  - gcloud container clusters get-credentials k8s-demo-cluster-1
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t abbottqwq/react-dev -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true abbottqwq/react-dev npm test

deploy:
  provider: script
  script: zsh ./deploy.sh
  on:
    branch: main
      